h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  font-size: 80px;
}

h2 {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 35px;
}

.btn:hover {
  background-color: green;
}

.quote-card {
    max-width: 600px;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
.quote-text {
    font-size: 1.3rem;
    font-style: italic;
}